<section class="post {{if preview 'with-excerpt' 'with-full-content'}}">
    <header class="post-header">
        <h2 class="post-title">
          {{#if preview}}
            {{#link-to 'posts.show' post.slug}}{{post.title}}{{/link-to}}
          {{else}}
            {{post.title}}
          {{/if}}
        </h2>
    </header>

    <div class="post-description">
        <p>
          {{#if preview}}
            {{post-excerpt post.content}}
            {{#link-to 'posts.show' post.slug}}read more{{/link-to}}
          {{else}}
            {{post.content}}
          {{/if}}
        </p>
    </div>
</section>
