<div class="post-show {{if preview 'with-excerpt' 'full-content'}}">
  <h3 class="post-title">
    {{#if preview}}
      {{#link-to 'posts.show' post}}{{post.title}}{{/link-to}}
    {{else}}
      {{post.title}}
    {{/if}}
  </h3>
  <p class="post-content">
    {{#if preview}}
      {{post-excerpt post.content}}
      {{#link-to 'posts.show' post}}read more{{/link-to}}
    {{else}}
      {{post.content}}
    {{/if}}
  </p>
</div>
