<div class="post-show">
  <h3 class="post-title">
    {{#if attrs.show-preview}}
      {{#link-to 'posts.show' attrs.id}}{{attrs.title}}{{/link-to}}
    {{else}}
      {{attrs.title}}
    {{/if}}
  </h3>
  <p class="post-content">
    {{#if attrs.show-preview}}
      {{post-excerpt attrs.content}}
      {{#link-to 'posts.show' attrs.id}}read more{{/link-to}}
    {{else}}
      {{attrs.content}}
    {{/if}}
  </p>
</div>
