<form class="{{if isLoading 'is-invisible'}} pure-form pure-form-stacked">
  <fieldset>
    <label for="title">Title</label>
    <input
      class="pure-input-1"
      id="title"
      type="text"
      value={{title}}
      oninput={{action "updateTitle" value="target.value"}}
      />
    <label for="content">Content</label>
    <textarea
      class="pure-input-1"
      rows=10
      id="content"
      value={{content}}
      onkeyup={{action "updateContent" value="target.value"}}
      onchange={{action "updateContent" value="target.value"}}
      />
    <label>Categories</label>
    {{#each blogCategories as |category|}}
      <label class="pure-checkbox">
        <input
          type="checkbox"
          name="categories"
          value={{category.id}}
          onclick={{action "updateCategories" value="target.value"}}
          checked={{array-contains categories category.id}}
          > {{category.name}}
      </label>
    {{/each}}
    {{#if isNew}}
      <button class="pure-button pure-button-primary"
              {{action 'save'}}
              disabled={{not-eq isValid true}}>Create</button>
    {{else}}
      <button class="pure-button pure-button-primary"
              {{action 'save'}}
              disabled={{not-eq isSavable true}}>Save</button>
      <button class="pure-button"
              {{action 'discard'}}
              disabled={{isUnchanged}}>Discard</button>
    {{/if}}
  </fieldset>
</form>
