<div class="{{if isLoading 'is-loading'}}">
  <form class="{{if isLoading 'is-invisible'}}">
    <div class="row">
      <label>
        Title<br>
        <input
          type="text"
          value={{title}}
          oninput={{action "updateTitle" value="target.value"}}
          ></label>
    </div>
    <div class="row">
      <label>
        Content<br>
        <textarea
          value={{content}}
          onkeyup={{action "updateContent" value="target.value"}}
          onchange={{action "updateContent" value="target.value"}}
          ></textarea>
      </label>
    </div>
    <div class="row">
      <h4>Categories</h4>
      {{#each blogCategories as |category|}}
        <label>
          <input
            type="checkbox"
            name="categories"
            value={{category.id}}
            onclick={{action "updateCategories" value="target.value"}}
            checked={{array-contains categories category.id}}
            > {{category.name}}
        </label>
      {{/each}}
    </div>
    <div class="row">
      {{yield this}}
    </div>
  </form>
</div>
